# Apple desktop files
.DS_Store

# direnv file
.envrc

# package manager directories
/.build
/Packages

# Xcode projects
/*.xcodeproj

# Xcov coverage reports
/xcov_report

# Vim temporary files
*.sw?

# sourcekitten/jazzy files and directories
/*.json
