# Apple desktop files
.DS_Store

# package manager directories
/.build
/Packages

# Xcode projects
/*.xcodeproj

# Vim temporary files
*.sw?

# sourcekitten/jazzy files and directories
LowSockets.json
Sockets.json
/docs

